@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.hero-section {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onMobile {
      flex-direction: column-reverse;
      margin-top: 180px;
      gap: 48px;
    }

    @include onTablet {
      flex-direction: column-reverse;
      margin-top: 120px;
      gap: 48px;
    }

    @include onDesktop {
      flex-direction: row;
      margin-top: 0;
      gap: 20px;
    }
  }

  &__location-img {
    margin: 17px 19px 17px 27px;
    height: 22px;
    width: 18px;

    @media (max-width: 1250px) {
      margin: 17px 13px 17px 20px;  
    }
  }

  &__main-page-image {
    @include onMobile{
      width: 300px;
    }

    @include onTablet {
      width: 670px;
      border-radius: 32px;
    }

    @include onDesktop {
      width: 720px;
      border-radius: 0px;
    }
  }

  &__form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 4px;
  }

  &__input {
    border: 0;
    outline: 0;

    @include onMobile {
      width: 165px;
    }

    @include onTablet {
      width: 210px;
    }

    &-button {
      display: flex;
      align-items: center;
      gap: 13px;
      border: 0;
      color: white;
      height: 48px;
      padding: 0 16px;
      outline: 0;
      background-color: $green-for-buttons-c;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background-color: orange;
      }
    }

    &::placeholder {

      @include onMobile {
        font-size: 11px;
      }
      @include onTablet {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }

  &__input-container {
    border: 1px solid $gray-border-c;
    display: flex;
    padding: 0;
    outline: none;
    border-radius: 50px;
    margin-top: 32px;
    background-color: $white-c;
    width: 100%;
    height: 56px;
  }

  &__title {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: $dark-blue-c;
    text-transform: capitalize;

    @include onMobile{
      text-align: center;
    }

    @include onDesktop {
      text-align: inherit
    }


    &--transparent {
      display: inline-block;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-stroke: 1px black;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }

  &__addictional {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: $gray-c;
  }

  &__partners-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $partherships-c;
    margin-top: 32px;
  }

  &__partner {
    @include onMobile {
      width: 75px;
    }

    @include onTablet {
      width: auto;
    }
  }

  &__partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main-page-image__container {
    @include onMobile {
      width: 300px;
      height: 270px;
    }

    @include onTablet {
      width: 670px;
      height: 670px;
    }

    @include onDesktop {
      width: 720px;
      height: 720px;
    }
    overflow: hidden;
  }
}

.background_gradient {
  @include onMobile {
    width: 300px;
  }

  @include onTablet {
    width: 710px;
  }
  position: absolute;
  z-index: -1;
  height: 424px;
  background-image: linear-gradient(to bottom right, rgba(130, 187, 255, 0.2) 20%, white 60%);
}