@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.header {
  position: absolute;
  &__container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include onMobile {
      margin-bottom: 32px;

    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include onDesktop {
      gap: 56px;
    }

    @include onMobile {
      gap: 24px,
    }
  }

  &-menu {
    display: flex;
    gap: 50px;
  }

  &__logo {
    &--image {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }

    &--text {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $dark-blue-c;
    }
  }
}

.nav {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  &__list-container {
    position: relative;
  }

  &__list {
    display: flex;
    list-style-type: none;

    @include onMobile {
      justify-content: space-evenly;
      gap: 8px;
    }

    @include onTablet {
      gap: 24px;
    }

    &-element {
      border-radius: 50px;
      padding: 8px 16px;
      border: 1px solid $white-c;

      @include onMobile {
        background-color: orange;
        white-space: nowrap;
        opacity: 0.3;
      }

      @include onDesktop {
        background-color: $white-background;
        opacity: 1;
      }

      &--burger-menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
        background-color: transparent;
        color: inherit;
        font: inherit;
        cursor: pointer;
        outline: none;
      }
    }

    &--burger-menu-arrow {
      margin-left: 14px;
    }

    &-link {
      color: $white-c;

      @include onMobile {
        font-size: 15px;
      }

      @include onTablet {
        font-size: 16px;
      }
    }
  }

  &__autorization {
    padding: 12px 24px;
    border-radius: 50px;
    line-height: 22px;
    background-color: $light-green-background;
    white-space: nowrap;

    @include onDesktop {
      width: auto;
    }

    &-link {
      color: $dark-green-c;
    }
  }

  &__list-link--container {
    position: absolute;
    top: 38px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 32px;

    @include onMobile {
      background-color: orange;
      opacity: 0.3;
    }

    @include onTablet {
      background-color: $white-background;
      opacity: 1;
    }
  }

  &__list-link--open {
    padding-left: 16px;
    width: 120px;
  }
}
