@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lexend', sans-serif;
  height: auto;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
div,
nav,
section,
footer,
aside,
article,
main,
header,
ul {
  margin: 0;
  padding: 0;
}