@import '../utils/mixins.scss';

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);

  @include onTablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include onDesktop {
    
    grid-template-columns: repeat(36, 1fr);
  }

  &--desktop {
    display: block;

    @include onTablet {
      display: grid;
    }

    @include onDesktop {
      display: grid;
    }
  }

  &__item {
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--mobile-#{$start}-#{$end} {
          @include onMobile {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
    @for $start from 1 through 12 {
      @for $end from $start through 12 {
        &--tablet-#{$start}-#{$end} {
          @include onTablet {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
    @for $start from 1 through 36 {
      @for $end from $start through 36 {
        &--desktop-#{$start}-#{$end} {
          @include onDesktop {
            grid-column: #{$start} / #{$end + 1};
          }
        }
      }
    }
  }
}