$white-c: #ffffff;
$light-green-background: rgba(209, 250, 229, 1);
$dark-green-c: #047857;
$white-background: rgba(255, 255, 255, 0.3);
$dark-blue-c: #1B1C57;
$gradient-blue-c: #82BBFF;
$gradient-green-c: #B9FF82;
$gray-border-c: #E0E3EB;
$gray-c: #626687;
$green-for-buttons-c: #10B981;
$partherships-c: #888B97;
$light-blue-c: #68799F;
$dark-blue-button-c: #3C4563;
$building-title-c: #0E1735;
$orange-c: #EF4444;
$peach-c: #FEE2E2;
$yellow-c: #F59E0B;
$mint-c: #D1FAE5;
$light-gray-c: #F0F3FD;